.dots{
  display: block;
  float: right;
  width: 32px;
  height: 32px;
  background: rgba(21, 72, 139, 0);
  border-radius: 50%;
  border-color: rgb(113, 172, 209);
  position:relative;
}

.dots:before{
    content: "";
    position: absolute;
    left: 50%;
    top: 6px;
    margin: -2px;
    background: hsl(0, 0%, 100%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    box-shadow: 0px 8px rgb(255, 255, 255), 0px 16px white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  float: right;
  margin-top: -20%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content h5 {
  padding: 12px 16px;
  color: rgb(14, 64, 121);
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content h5:hover {
  background-color: #6cb8ff79
}

.dropdown-content h5.flag_post:hover {
  background-color: rgb(255, 96, 85);
  color: rgb(133, 0, 0);
}